/* @media screen and (max-width: 1023px) {
  .layout {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .layout {
    width: 50%;
  }
} */

.layout {
  width: 95%;
  max-width: 1200px;
  min-width: 800px;

  border: 1px solid black;
  border-radius: 15px;

  margin: 30px auto 30px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infobar {
  width: 95%;
  max-width: 300px;
  height: 100px;

  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  word-spacing: 350px;
}

.form {
  width: 95%;
  max-width: 800px;
  min-width: none;
}

.form_button {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* @media screen and (max-width: 1023px) {
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .form {
    width: 50%;
  }
} */

.todotop {
  width: 95%;
  max-width: 1000px;
  min-width: none;
  height: 50px;

  margin-top: 20px;
}

.todoarea {
  width: 95%;
  max-width: 1000px;
  min-width: 500px;

  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.todobox {
  width: calc((100% - 60px) / 3);
  height: 313.333px;

  padding: 20px;
  margin: 10px;

  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.todo_comment {
  height: 230px;
  max-height: 230px;

  word-wrap: break-word;
  overflow: auto;
}

.todo_button {
  height: 40px;

  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5px;
}
.donetop {
  width: 95%;
  max-width: 1000px;
  min-width: none;
  height: 50px;

  margin-top: 20px;
}

.donearea {
  width: 95%;
  max-width: 1000px;
  min-width: 500px;
  min-height: none;

  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

.donebox {
  width: calc((100% - 60px) / 3);
  height: 313.333px;

  padding: 20px;
  margin: 10px 10px 30px 10px;

  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

.done_comment {
  height: 230px;
  max-height: 230px;

  word-wrap: break-word;
  overflow: auto;
}

.done_button {
  height: 40px;

  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 5px;
}
