.Document {
  max-width: 1200px;
  min-width: none;
  min-height: none;

  border: 1px solid black;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px auto 30px auto;
  padding: 20px;
}

.InputArea {
  width: auto;
  min-width: none;
  height: auto;

  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.ToDoArea {
  width: 1000px;
  min-width: none;
  min-height: none;
}

.DoneArea {
  width: 1000px;
  min-width: none;
  min-height: none;
}
